@{ ViewData["Title"] = "Productos"; }

@model List<Producto>

<a asp-action="Create">Crear Nuevo</a>

<h1>
    Productos:
</h1>
<table id="tabla" class="table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        <th>Descripcion</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th></th>
    </tr>
     </thead>
    <tbody>
    @foreach (var e in Model)
    {
        <tr>
            <th>@e.Descripcion</th>
            <td>@e.Precio</td>
            <td>@e.Cantidad</td>
            <td>
                <a asp-action="Details" asp-route-id="@e.Id">Detalles</a> |
                <a asp-action="Edit" asp-route-id="@e.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@e.Id"
                 onclick="return confirm('¿Está seguro que desea eliminar esto?');">Eliminar</a>
            </td>
        </tr>
    }
     </tbody>
</table>

 <canvas id="Chart"></canvas>
@section scripts {
    <script src="//cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"type="text/javascript" charset="utf-8"></script>

    <script>
        new Chart( //https:www.chartjs.org/
        document.getElementById('Chart'),
        {
            type: 'doughnut',
            data: {
                labels: ["Lolaleli","Libros","Ingles","Dona","Pan Molido","Programacion C#","Laptop","Historia 2"],
                datasets: [{
                    label: 'Por producto',
                    hoverOffset: 4,
                    backgroundColor: ["#f00","#f0aa1f","#a9d70a","#05f20e","05f2a7","#0580f2","#0517f2","#f205d7"],
                    data: [10,15,3,50,50,10,1,5]
                }]
            },
            options: {
                responsive: true, aspectRadio: 4, maintainAspectRatio: true

            }
            
        }
        );
    </script>
};