@{
    ViewData["Title"] = "Ventas > Crear";
}

@model Venta

<h1>
    Insertar:
</h1>

<form asp-action="Create" enctype="multipart/form-data">
    ClienteId: <select asp-for="ClienteId" required>
    @foreach (var c in (List<Cliente>)ViewBag.Cliente)        
    {
        <option value="@c.Id">@c.Id (@c.Nombre)</option>
    }
    </select>

    <br />
    ProductoId: <select asp-for="ProductoId" required>
    @foreach (var c in (List<Producto>)ViewBag.Producto)        
    {
        <option value="@c.Id">@c.Id (@c.Descripcion)</option>
    }
    </select>
    <br />
    Fecha: <input asp-for="Fecha" type="date" required />
    <br />
    <br />
    <button>Crear</button>
</form>

<a asp-action="Index">Cancelar</a>